<div id="meta">
  <div id="cover"></div>
  <h1 id="meta-title" class="sp-text-truncate"></h1>
  <div id="meta-owner" class="sp-text-truncate"></div>
  <div id="meta-desc" class="sp-text-truncate">{2}</div>
  <div id="meta-buttons">
    <button id="button-subscribe" class="sp-button sp-icon"><span class="sp-plus"></span>{1}</button>
    <button id="button-share" class="sp-button sp-icon"><span class="sp-share"></span>{0}</button>
    <button id="button-radio" class="sp-button sp-icon"><span class="sp-radio"></span>{3}</button>
  </div>
</div>
<div id="more">
  <h2 id="more-title" class="sp-text-truncate"></h2>
  <div id="more-users"></div>
  <span class="more-additional"></span>
</div>
<div id="additional-button"></div>