/* ==========================================================================
   General
   ========================================================================== */

html {
    overflow-y: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

html.overflow-hidden {
    overflow-y: hidden;
}

body {
    height: auto;
    min-width: 300px;
}

.page {
    height: 100%;
}

hgroup {
    display: block;
    overflow: hidden;
    padding: 16px 0 8px 2px;
}

h2 {
    float: left;
    font-size: 18px;
    padding: 0;
    text-shadow: 0 1px 0 white;
    text-transform: capitalize;
    cursor: default;
}

p {
    color: #707070;
    font-size: 13px;
    text-shadow: 0 1px 0 white;
}

.hidden,
.replace {
    display: none !important;
}

.tracks,
.empty-search-result {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: default;
}

.title {
    cursor: pointer !important;
}

.no-link {
    cursor: default !important;
}

a[href=''] {
    text-decoration: none !important;
}

.search-result {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
    height: 364px;
}

.rows-1 .search-result {
    height: 191px !important;
}

.rows-2 .search-result {
    height: 364px !important;
}

.sp-throbber {
    top: 100px !important;
}

.page.loner .sp-throbber.down {
    top: auto !important;
    bottom: 20px !important;
}

.page.loner {
    visibility: visible !important;
}


/* ==========================================================================
   Grid
   ========================================================================== */

.grid {
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.grid li {
    display: inline-block;
}

.grid li.hidden {
   display: none;
}

.loner .search-result {
    width: 100% !important;
    min-height: 600px;
    pointer-events: auto !important;
    height: auto;
}

.loner .grid {
    padding-bottom: 50px;
}

.loner .grid li:nth-child(3n+1) .sp-image,
.loner .grid li:nth-child(3n+1) .placeholder-link {
    float: left;
}

.loner .grid li:nth-child(3n+2) .sp-image,
.loner .grid li:nth-child(3n+2) .placeholder-link  {
    margin: 0 auto;
}

.loner .grid li:nth-child(3n+3) .sp-image,
.loner .grid li:nth-child(3n+3) .placeholder-link  {
    float: right;
}

.loner .grid li {
    width: 33.3%;
    height: auto;
    margin: 0 0 20px 0;
}

.loner .grid li .sp-image,
.loner .grid .placeholder-link {
    width: 230px !important;
    height: 230px !important;
}

@media all and (max-width: 810px) {
    .loner .grid li .sp-image {
        width: 200px !important;
        height: 200px !important;
    }
}

@media all and (max-width: 650px) {
    .loner .grid li .sp-image {
        width: 160px !important;
        height: 160px !important;
    }
}

@media all and (max-width: 550px) {
    .loner .grid li .sp-image {
        width: 120px !important;
        height: 120px !important;
    }
}

@media all and (max-width: 410px) {
    .loner .grid li .sp-image {
        width: 85px !important;
        height: 85px !important;
    }
}

/* ==========================================================================
   Pod
   ========================================================================== */

.pod {
    width: 100%;
    /*position: fixed !important; /* has to be important because of throbber */
    position: absolute;
    top: 0;
    left: 0;
    height: 177px;
}

.loner .pod {
    position: static;
    height: auto;
    margin: 0 auto;
    width: auto;
    max-width: 800px;
}

.see-all {
    position: absolute;
    top: 17px;
    right: 0;
    border: 0;
    z-index: 199;
    background: #deddd9;
    border-radius: 3px;
    color: #4E4E4E;
    cursor: pointer;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 11px;
    display: block;
}

.tracks {
    display: block;
    top: 40px;
    overflow-y: auto;
    width: 100%;
    z-index: 1001; /* make it over throbber */
}

.rows-1 .tracks {
    top: 237px;
}

.rows-2 .tracks {
    top: 414px;
}

/* ==========================================================================
   UI elements
   ========================================================================== */

.ui {
    position: relative;
    box-sizing: border-box;
    /* css transition
    -webkit-transition: "margin-left" .2s linear;
    transition: "margin-left" .2s linear;
    */
}

/* temp */
.ui .sp-image-player {
    z-index: 200 !important;
}

.ui .sp-image-overlay a {
    color: inherit;
    text-decoration: none;
}

.ui .sp-image-overlay a:hover {
    text-decoration: underline;
}

.ui > .placeholder-link {
    display: block;
    position: relative;
    border-radius: 6px;
    background-color: #B7B6B3;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 1px 3px rgba(0,0,0, 0.2), inset 0 0 1px rgba(0,0,0, 0.4), 0 1px 0px rgba(255,255,255, 0.5);
}

.ui {
    width: 128px;
    height: 128px;
    border-radius: 4px;
}

.artists .ui > .placeholder-link,
.albums .ui > .placeholder-link,
.playlists .ui > .placeholder-link {
    background-size: 451.5625% 1171.875%;
}

.artists .ui > .placeholder-link {
    background-position: 100% 21.865889212827987%;
}

.albums .ui > .placeholder-link {
    background-position: 100% 0;
}

.playlists .ui > .placeholder-link {
    background-position: 100% 43.731778425655975%;
}

.loner .artists .ui > .placeholder-link,
.loner .albums .ui > .placeholder-link,
.loner .playlists .ui > .placeholder-link {
    background-size: 192.66666666666669% 500%;
}

.loner .artists .ui > .placeholder-link {
    background-position: 0% 25.000000000000007%;
}

.loner .albums .ui > .placeholder-link {
    background-position: 0 0;
}

.loner .playlists .ui > .placeholder-link {
    background-position: 0% 50.000000000000014%;
}


/* ==========================================================================
   Top bar
   ========================================================================== */

.search-query {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    background: white;
    line-height: 40px;
    height: 40px;
    padding: 0 12px;
    position: relative;
    z-index: 300;
}

.search-query p {
    color: #292929;
    display: inline;
}

.search-query p + p {
    margin-left: 5px;
}

.search-paragraph.hidden,
.fuzzy-match.hidden {
    display: none;
}

.search-query a,
.search-query span {
    font-weight: bold;
}

.search-paragraph a {
    text-decoration: none;
}


/* ==========================================================================
   Empty search results
   ========================================================================== */

.empty-search-result {
    display: none;
}

.empty-search .empty-search-result,
.no-tracks .empty-search-result,
.error .empty-search-result {
    display: block;
}

.empty-search .search-result .tracks,
.no-tracks .search-result .tracks,
.error .search-result .tracks {
    display: none;
}

.empty-search-result {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.empty-search-result div {
    left: 50%;
    margin-left: -150px;
    padding-top: 87px;
    margin-bottom: 20px;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 300px;
    word-wrap: break-word;
}

.empty-search-result div:after {
    background: transparent url('../img/search-glass.png') no-repeat;
    display: block;
    content: '';
    height: 155px;
    left: 50%;
    margin: -77px 0 0 -77px;
    position: absolute;
    top: 0;
    width: 155px;
}

body.tg-g .sp-image-overlay-line1:hover {
    text-decoration: underline;
}

body.tg-h .sp-image:hover .sp-image-overlay-line1 {
    text-decoration: underline;
}
