<div class="survey-content">
    <span class="close-survey">Close</span>
    <form name="form-survey" action="" method="POST" id="form-survey" class="form-survey">
        <h2 class="title"></h2>
        <fieldset>
            <ol>
                <li id="q1">
                    <strong class="question"></strong>
                    <div class="scale">
                        <label>0<input type="radio" name="recommend" value="0"></label>
                        <label>1<input type="radio" name="recommend" value="1"></label>
                        <label>2<input type="radio" name="recommend" value="2"></label>
                        <label>3<input type="radio" name="recommend" value="3"></label>
                        <label>4<input type="radio" name="recommend" value="4"></label>
                        <label>5<input type="radio" name="recommend" value="5"></label>
                        <label>6<input type="radio" name="recommend" value="6"></label>
                        <label>7<input type="radio" name="recommend" value="7"></label>
                        <label>8<input type="radio" name="recommend" value="8"></label>
                        <label>9<input type="radio" name="recommend" value="9"></label>
                        <label class="last">10<input type="radio" name="recommend" value="10"></label>
                        <div class="description">
                            <p class="negative"></p>
                            <p class="positive"></p>
                        </div>
                    </div>
                </li>
                <li id="q2">
                    <strong class="question"></strong>
                    <div class="textarea-wrap">
                        <textarea name="why" maxlength="400"></textarea>
                    </div>
                </li>
                <li id="q3">
                    <strong class="question"></strong>
                    <div class="scale">
                        <label>1<input type="radio" name="satisfied" value="1"></label>
                        <label>2<input type="radio" name="satisfied" value="2"></label>
                        <label>3<input type="radio" name="satisfied" value="3"></label>
                        <label>4<input type="radio" name="satisfied" value="4"></label>
                        <label>5<input type="radio" name="satisfied" value="5"></label>
                        <label>6<input type="radio" name="satisfied" value="6"></label>
                        <label>7<input type="radio" name="satisfied" value="7"></label>
                        <label>8<input type="radio" name="satisfied" value="8"></label>
                        <label>9<input type="radio" name="satisfied" value="9"></label>
                        <label class="last">10<input type="radio" name="satisfied" value="10"></label>
                        <div class="description">
                            <p class="negative"></p>
                            <p class="positive"></p>
                        </div>
                    </div>
                </li>
            </ol>
            <input id="submit-survey" type="submit" value="Submit survey">
        </fieldset>
    </form>
    <div id="thanks" class="thanks hidden">
        <h2 class="title"></h2>
        <div class="logo">Spotify</div>
    </div>
</div>