<section id="feature-container">
	<h2>{1}</h2>
	<header id="feature-banner">
		<div id="previousimage" class="pagination"></div>
		<div id="nextimage" class="pagination"></div>
	</header>
</section>
<section>
	<h2>{4}</h2>
	<nav id="app-list-new">
		<ul id="new-apps" class="apps">
		</ul>
	</nav>
	<div id="newAppsThrobber" class="throbber"><div></div></div>
</section>
<section id="all-apps-container">
	<div class="headingWrap">
		<h2>{2}</h2>
		<div id="all-categories" class="categories">
			<h3>{5}</h3>
			<div>
				<p>{6}</p>
				<ul></ul>
			</div>
		</div>
	</div>
	<nav id="app-list-all">
		<ul id="all-apps" class="apps">
		</ul>
	</nav>
	<div id="throbber" class="throbber"><div></div></div>
</section>
